/* Desktop */
/* *{
    border: 1px solid black;
} */
body{
    height: 100vh
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 1.5em;
}
#header{
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
div.tooltip {
    position: absolute;
    background-color: white;
    padding: 1%;
    border-radius: 5%;
    font-weight: 800;
}

.date{
    /* border-left: 1px solid black; */
    min-width: 8%;
    padding: 1%;
    width: fit-content;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.date-selected{
    background-color: black;
    color: white;
}
#dragger{
    border: 2px solid black;
    padding: 1%;
}
#center-container{
    text-align: center;
}
#month-sel{
    text-align: center;
    margin:auto;
    width: 90%;
    
}

#month-sel-buttons{
    font-size: medium;
    margin: auto;
    display: flex;
    text-align: left;
    width: 100%;
    
}
#month-sel-buttons>*{
  /* min-width:8%; */
  /* min-width: 50px; */
}
#filters{
    margin: auto;
    padding: 1%;
   /* border-right: 2px solid black; */
}
#filters-inputs{
    /* text-align: center; */
}
#filters-inputs>div{
    margin:2%
}
#container-scatter{
    text-align: center;
    /* border-right: 2px solid black; */
}
.stats{
    /* border-bottom: 1px dashed black; */
    padding: 2%;
}
.stats table{
    width:100%
}
.stats-header{
    font-size: large;
}
.stats-content{
    text-align: right;
    font-size: large;
}
#county-info{
    margin: auto;
}
#cases-line{
    /* text-align: center; */
}
.top-10{
    fill: lightblue;
    stroke: black;
    stroke-width: 2px;
    /* transform:scale(1.2, 1.2); */
    opacity: 100%;
}
.bottom-10 {
    fill: yellowgreen;
    stroke: black;
    stroke-width: 2px;
    /* transform:scale(1.2, 1.2); */
    opacity: 100%;
}
.noise{
    fill: gray;
    opacity: 40%;
}
.median-lines{
    
        stroke-width: 2px;
        stroke: black;
        stroke-dasharray: 5;
        opacity: 40%;
    
}
#scatter-legend{
    
}
footer{
    text-align: center;
    position: relative;
    width:100%;
    left:0;
    bottom:0;
    margin-bottom: 0px;
    font-size:1.2em;
}
a{
    text-decoration: none;
}
.top-county{
    stroke: slateblue;
    stroke-width: 5px;
    opacity: 100%;
}
#left-container>*{
    padding-top: 5%;
}